*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.header-left{
  width: 33%;
}

.header-center{
  width: 33%;
  
}

.header-right{
  width: 33%;
  align-self: flex-end;
}
.header-right select{
  width: 150px;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: rgb(255, 255, 255);
}

.container button {
  width: 100%;
  height: 100%;
}
.square{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  border: 1px solid white;
  /* font-size: 25px; */
  background-color: brown;
  cursor: pointer;
}

.square.clicked {
  background-color:cadetblue;
}

.square.clicked span  {
  display : block;
}

.square.clicked.odd {
  background-color: rgb(71, 82, 238);
}

.square.clicked.even {
  background-color: rgb(255, 94, 0);
}